<h1>Stupid Coaching</h1>
<div class="container">
  <div class="question">
    <%=@question%><br>
    -You
  </div>
  <div class="answer">
    <%=@answer%><br>
    -Your coach
  </div>
  <%= link_to "Ask a new question", "/ask" %>
</div>
