<div class="container">
<h1>Stupid Coaching</h1>
  <div class="question">
  <strong>-You :</strong>
    <%=@question%><br>
  </div>
  <div class="answer">
    <strong>-Your coach :</strong>
    <%=@answer%><br>
  </div>
  <%= link_to "Ask a new question", "/ask" %>
</div>
